body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Hiragino Sans, '.SFNSDisplay-Regular', 'メイリオ', Arial, sans-serif;
  line-height: 1.5;
}

.css-purge {
  margin-top: 100em;
}

/**-------------------------------------------------------------
 * Grid
 ------------------------------------------------------------**/
.container {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 999px) {
  .row {
    width: 90%;
    margin: 0 auto;
  }
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

/**-------------------------------------------------------------
 * .header
 ------------------------------------------------------------**/
.header {
  background: url("images/dot.gif") 0 0 /auto repeat, url("images/hero.jpg") center center /cover no-repeat;
  background-blend-mode: overlay;
  min-height: 100vh;
}

.header__info {
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
}

.header__info p {
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
  font-size: 1.5em;
  line-height: 1.4;
}

.header__info .jyuusyo {
  margin-top: 1em;
}

@media screen and (max-width: 999px) {
  .header__info p {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 2em;
  }
}

.header__headline {
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
  font-style: italic;
  text-align: center;
  margin-top: 1em;
}

@media screen and (max-width: 999px) {
  .header__headline {
    font-size: 140%;
    margin-top: 5em;
  }
}

.logo {
  max-width: 40%;
  margin-top: 2em;
}

/**-------------------------------------------------------------
 * Anti Patterns
 ------------------------------------------------------------**/
#section {
  display: block;
}

.hogeMoge {
  margin-top: 1em;
}

.hoge__moge {
  margin-top: 2em;
}

.hoge .moge {
  margin-top: 2em !important;
}

.moge {
  margin-top: 1em !important;
}

section {
  padding: 1em 0 0;
}

p {
  color: #666666;
}

li {
  color: #666666;
}

/* Overview */
.overview h2 {
  border-bottom: 1px solid #666666;
  padding-bottom: .3em;
}

/* Session */
.session h2 {
  border-bottom: 1px solid #666666;
  padding-bottom: .3em;
}

.session .btn {
  text-align: center;
  margin-top: 3em;
}

.session .btn a {
  background: linear-gradient(to bottom,  #c82a16 0%,#c82a16 50%,#a82410 51%,#a82410 100%);
  color: #FFF;
  border-radius: 6px;
  padding: 1em 2em;
  font-size: 1em;
  text-decoration: none;
}

/* Target */
.target h2 {
  border-bottom: 1px solid #666666;
  padding-bottom: .3em;
}


/* Date and Place */
.date_place h2 {
  border-bottom: 1px solid #666666;
  padding-bottom: .3em;
}


/* Fee */
.fee h2 {
  border-bottom: 1px solid #666666;
  padding-bottom: .3em;
}


/* About us */
.aboutus h2 {
  border-bottom: 1px solid #666666;
  padding-bottom: .3em;
}


/* .member */
.member h2 {
  border-bottom: 1px solid #666666;
  padding-bottom: .3em;
  font-size: 1.5em;
}

.headline {
  border-bottom: 1px solid #666666;
  padding-bottom: .3em;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-right: 0;
  margin-left: 0;
  font-weight: bold;
}

/* Session */
.session h2 {
  border-bottom: 1px solid #666666;
  padding-bottom: .3em;
}
.session .btn {
  text-align: center;
  margin-top: 3em;
}
.session .btn a {
  background: linear-gradient(to bottom,  #c82a16 0%,#c82a16 50%,#a82410 51%,#a82410 100%);
  color: #FFF;
  border-radius: 6px;
  padding: 1em 2em;
  font-size: 1em;
  text-decoration: none;
}

/* Target */
.target h2 {
  border-bottom: 1px solid #666666;
  padding-bottom: .3em;
}


/* Date and Place */
.date_place h2 {
  border-bottom: 1px solid #666666;
  padding-bottom: .3em;
}


/* Fee */
.fee h2 {
  border-bottom: 1px solid #666666;
  padding-bottom: .3em;
}


/* About us */
.aboutus h2 {
  border-bottom: 1px solid #666666;
  padding-bottom: .3em;
}


/* .member */
.member h2 {
  border-bottom: 1px solid #666666;
  padding-bottom: .3em;
}

.member .aboutus .hoge ul li a {
  color: #666666;
}

.member .card {
  display: flex;
  margin-top: 1em;
}

.member .card p {
  margin: 0;
}

.member .row .col .card .thumbnail {
  max-width: 30%;
}

.member .row .col .card .thumbnail img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.member .row .col .card .thumbnail.thumbnail_1 img {
  border: 2px solid #CCC;
  box-sizing: border-box;
}

.member .row .col .card .thumbnail.thumbnail_2 img {
  border: 2px solid #666666;
  box-sizing: border-box;
}

.member .profile {
  margin-left: 1em;
}

.member .box {
  display: flex;
  margin-top: 1em;
}

.member .box p {
  margin: 0;
}

.member .row .col .box .thumbnail {
  max-width: 30%;
}

.member .row .col .box .thumbnail img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.member .row .col .box .thumbnail.thumbnail_1 img {
  border: 2px solid #CCC;
  box-sizing: border-box;
}

.member .row .col .box .thumbnail.thumbnail_2 img {
  border: 2px solid #666666;
  box-sizing: border-box;
}

@media screen and (max-width: 999px) {
  .member .row .col {
    flex-basis: 100%;
  }
}

.twitter_btn {
  width: 960px;
  text-align: center;
  box-sizing: border-box;
  margin-top: 2em;
  width: 100%;
}

.twitter_btn a {
  background: linear-gradient(to bottom,  #c82a16 0%,#c82a16 50%,#a82410 51%,#a82410 100%);
  color: #FFF;
  border-radius: 6px;
  padding: 1em 2em;
  font-size: 1em;
  text-decoration: none;
}

/**-------------------------------------------------------------
 * Utility
 ------------------------------------------------------------**/
/**
 * margin-top
 */
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-55 {
  margin-top: 55px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-65 {
  margin-top: 65px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-75 {
  margin-top: 75px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-85 {
  margin-top: 85px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-95 {
  margin-top: 95px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-105 {
  margin-top: 105px;
}
.mt-110 {
  margin-top: 110px;
}
.mt-115 {
  margin-top: 115px;
}
.mt-120 {
  margin-top: 120px;
}
.mt-125 {
  margin-top: 125px;
}
.mt-130 {
  margin-top: 130px;
}
.mt-135 {
  margin-top: 135px;
}
.mt-140 {
  margin-top: 140px;
}
.mt-145 {
  margin-top: 145px;
}
.mt-150 {
  margin-top: 150px;
}

/**
 * margin-right
 */
.mr-0 {
  margin-right: 0px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-25 {
  margin-right: 25px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-35 {
  margin-right: 35px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-45 {
  margin-right: 45px;
}
.mr-50 {
  margin-right: 50px;
}

/**
 * margin-bottom
 */
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-55 {
  margin-bottom: 55px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-65 {
  margin-bottom: 65px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-75 {
  margin-bottom: 75px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-85 {
  margin-bottom: 85px;
}
.mb-90 {
  margin-bottom: 90px;
}
.mb-95 {
  margin-bottom: 95px;
}
.mb-100 {
  margin-bottom: 100px;
}

/**
 * margin-left
 */
.ml-0 {
  margin-left: 0px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-25 {
  margin-left: 25px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-35 {
  margin-left: 35px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-45 {
  margin-left: 45px;
}
.ml-50 {
  margin-left: 50px;
}
.ml-55 {
  margin-left: 55px;
}
.ml-60 {
  margin-left: 60px;
}
.ml-65 {
  margin-left: 65px;
}
.ml-70 {
  margin-left: 70px;
}
.ml-75 {
  margin-left: 75px;
}
.ml-80 {
  margin-left: 80px;
}
.ml-85 {
  margin-left: 85px;
}
.ml-90 {
  margin-left: 90px;
}
.ml-95 {
  margin-left: 95px;
}
.ml-100 {
  margin-left: 100px;
}
.ml-105 {
  margin-left: 105px;
}
.ml-110 {
  margin-left: 110px;
}
.ml-115 {
  margin-left: 115px;
}
.ml-120 {
  margin-left: 120px;
}
.ml-125 {
  margin-left: 125px;
}
.ml-130 {
  margin-left: 130px;
}
.ml-135 {
  margin-left: 135px;
}
.ml-140 {
  margin-left: 140px;
}
.ml-145 {
  margin-left: 145px;
}
.ml-150 {
  margin-left: 150px;
}

/* text-align
-------------------------------------------------------------- */
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}

/**-------------------------------------------------------------
 * .c-footer
 ------------------------------------------------------------**/
.c-footer {
  text-align: center;
}
.c-footer_inner {
  padding: 0 3% 3%;
}
.c-footer a {
  color: #c82a17;
}
.c-footer a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.c-contact_info {
  margin: 3% 0;
  color: #c82a17;
}
.c-content_contact {
  color: #fff;
  letter-spacing: 2px;
}
.c-content_contact div:nth-child(1) {
  font-size: 110%;
  line-height: 1.8;
  margin: 10% 0 5%;
}
.c-content_contact_bg {
  background-color: #c82a17;
}
.c-content_contact_bg span.square {
  display: inline-block;
  vertical-align: top;
  height: 0;
  border: 27px solid transparent;
  border-top: 27px solid #fff;
  font-weight: 600;
}
.c-content_contact_bg c-form_btn {
  margin-bottom: 4%;
}
.c-form_btn {
  margin: 0 auto;
  position: relative;
}

.c-form_btn span {
  padding: 5%;
  display: inline-block;
  font-weight: 600;
  vertical-align: super;
}

.c-form_btn span a {
  text-decoration: none;
}

.c-form_btn div {
  border-radius: 6px;
  background-color: #fff;
  color: #c82a17;
  width: 90%;
  display: inline-block;
}

.c-footer ul.footer li {
  display: inline;
  text-align: center;
}

.c-footer ul.footer li a {
  color: #c82a17;
}

.c-footer ul {
  list-style: none;
  margin-top: 3%;
  padding: 0 3%;
}

.c-footer ul div {
  border-bottom: solid 1px #c82a17;
  width: 100%;
  margin: 4% auto 0;
}

.c-footer ul li:first-child {
  padding-left: 0;
}

.c-footer li {
  display: inline;
  text-align: center;
  width: 25%;
  color: #c82a17;
  font-size: 84%;
  padding-left: 4%;
  font-weight: 600;
}

.c-footer_content {
  color: #c82a17;
}

.c-footer_content small {
  font-size: 50%;
  padding-left: 2%;
}

.c-site_copy {
  text-align: center;
  width: 70%;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  /* footer */
  .c-footer_inner {
    padding: 0 3% 5%;
  }
  .c-contact_info {
    font-weight: normal;
    font-size: 110%;
    margin: 1% 0;
    padding-left: 2%;
  }
  .c-contact_info i {
    padding-right: 1%;
  }
  .c-contact_title {
    font-size: 18px;
    margin-top: 4%;
    letter-spacing: 3px;
    margin-top: 1em;
  }
  .c-form_btn {
    width: 47%;
    display: inline-block;
  }
  .c-form_btn span {
    font-weight: 600;
  }
  .c-form_btn div {
    padding-bottom: 0;
  }
  .c-form_btn i {
    padding-left: 0;
    vertical-align: baseline;
  }
  ul {
    text-align: left;
  }
  ul li {
    font-weight: normal;
  }
  ul div {
    margin: 2% 0;
  }
  .c-footer_content small {
    font-size: 80%;
  }
  .c-sns_content i {
    margin-left: 4%;
  }
}
