body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Hiragino Sans, '.SFNSDisplay-Regular', 'メイリオ', Arial, sans-serif;
  line-height: 1.5;
}

/**-------------------------------------------------------------
 * Grid
 ------------------------------------------------------------**/
.container {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

/**-------------------------------------------------------------
 * .header
 ------------------------------------------------------------**/
.header {
  background: url("images/dot.gif") 0 0 /auto repeat, url("images/hero.jpg") center center /cover no-repeat;
  background-blend-mode: overlay;
  min-height: 100vh;
}

.header__info {
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
}

.header__info p {
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
  font-size: 1.5em;
  line-height: 1.4;
}

.headline {
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
  font-style: italic;
  text-align: center;
  margin-top: 1em;
}

.logo {
  max-width: 40%;
  margin-top: 2em;
}

.btn {
  text-align: center;
  margin-top: 3em;
}

.btn a {
  background: linear-gradient(to bottom,  #c82a16 0%,#c82a16 50%,#a82410 51%,#a82410 100%);
  color: #FFF;
  border-radius: 6px;
  padding: 1em 2em;
  font-size: 1em;
  text-decoration: none;
}

/**-------------------------------------------------------------
 * Anti Patterns
 ------------------------------------------------------------**/
#section {
  margin-top: 1em;
}

.hogeMoge {
  margin-top: 1em;
}

.hoge__moge {
  margin-top: 2em;
}

.hoge .moge {
  margin-top: 2em !important;
}
.moge {
  margin-top: 1em !important;
}

section {
  padding: 1em;
}

p {
  color: #666;
}

h2 {
  border-bottom: 1px solid #666;
}

.hoge ul li a {
  color: #F00;
}

.card {
  display: flex;
}

.card p {
  margin: 0;
}

.box {
  display: flex;
}

.box p {
  margin: 0;
}

.body_class .container_class .section_class .paragraph_class.paragraph_class_01 .img_class {
  display: block;
  width: 100%;
  height: auto;
  border: 5px solid #f9f9f9;
  box-sizing: border-box;
}

.body_class .container_class .section_class .paragraph_class.paragraph_class_02 .img_class {
  display: block;
  width: 100%;
  height: auto;
  border: 5px solid #009900;
  box-sizing: border-box;
}

/*.paragraph_class .img_class {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 5px solid transparent;
}
.paragraph_class.paragraph_class_01 .img_class {
  border-color: #f9f9f9;
}
.paragraph_class.paragraph_class_02 .img_class {
  border-color: #009900;
}*/

.overlap {
  width: 960px;
  border: 1px solid #ff0000;
  padding: 2em;
  text-align: center;
  font-size: 1.7em;
  line-height: 1.4;
  box-sizing: border-box;
  width: 100%;
  border-color: #0066ff;
}

/**-------------------------------------------------------------
 * Utility
 ------------------------------------------------------------**/
.mt-10 {
  margin-top: 15px;
}

.tac {
  text-align: center;
}
